@font-face {
  font-family: "Mongoose";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/mongoose-thin.otf") format("opentype");
}

@font-face {
  font-family: "Mongoose";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/mongoose-regular.otf") format("opentype");
}

@font-face {
  font-family: "Mongoose";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/mongoose-medium.otf") format("opentype");
}

@font-face {
  font-family: "Mongoose";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/mongoose-bold.otf") format("opentype");
}
