@import url(https://db.onlinewebfonts.com/c/15e10e275ea9924d0350e569a211d6a8?family=Mongoose+Regular);
@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: "Open Sans", sans-serif;
  }
}

@theme {
  --breakpoint-xs: 480px;
  --color-uni-blue: #3caaee;
  --font-mongoose: "Mongoose Regular", Arial, sans-serif, system-ui;
  --bg-home-hero: url("https://unitellas.com.ng/images/cloud-tech-bg-3.jpg");
}

.font-Mongoose {
  font-family: var(--font-mongoose);
}

.bg-home-hero {
  background-image: var(--bg-home-hero);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 3rem));
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
