@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", sans-serif;
  }
}

@font-face {
  font-family: "Mongoose Regular";
  src: url("/assets/fonts/Mongoose-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --breakpoint-xs: 480px;
  --color-uni-blue: #3caaee;
  --bg-home-hero: url("https://unitellas.com.ng/images/cloud-tech-bg-3.jpg");
}

.font-Mongoose {
  font-family: "Mongoose Regular", Arial, sans-serif, system-ui;
}

.bg-home-hero {
  background-image: var(--bg-home-hero);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 3rem));
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
